label.error{
	color: #A94442;
}
#pilihpaket tr{
	cursor: pointer;
}
#pilihpaket tr.selected,#pilihpaket tr.selected td{
	background: #3C8DBC !important;
}
#pilihpaket tr.selected td{
	color: #FFF;
}
.multiselect-container > li > a {
  padding: 3px 30px;
}

.icon-holder{
	width: 54px;
	height: 54px;
	padding: 10px;
	border: 1px solid #ddd;
}

.icon-holder img{
	width: 100%;
	height: auto;
}

.content-header {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
	padding: 15px 15px 10px 20px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	#border: 0.5px solid #dedede !important;
}

.alert {
	margin-top: 10px !important;
}

.form-group {
	display: block;
}

table.table-mailbox {
    table-layout: fixed;
}
table.table-mailbox>tbody>tr>td {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}